<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="editproduct.css" rel="stylesheet">
   
    <div class="navbar">
        <p> Edit cart</p>
        <div id="button">
           <button><a href="/adminhome">Home</a></button>
  </div>
        </div>
</head>
<body>
    
    <div id="products">

    </div>
    
    <script src="editproduct.js"></script>
</body>
</html>