<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./forgot.css">
</head>
<body>
    <p><%= error %> </p>
    <div>

   
   <form  class="forgetform" method="POST" action="/forgot">
    <h2 class="forgot">Forgot password</h2>
    <label for="email" class="forgotlabel">Enter the registered email address</label>
    <input type="email"  id="email"  name="email">
    <input type="submit" class="forgot" id="signsubmit" value="Reset Password">

   </form> 
</div>
</body>
</html>