<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./forms.css">
</head>
<body>
    <p id="helo"><%= error %> </p>
    <div>

    <form  class=" signup" method="POST" onsubmit="return vl()" action="/signup">

        <label for="name"> Name:</label>
        <input type="text"   id="name" name="name">

        <label for="password">Password:</label>
        <input type="password" id="password" name="password">

        <label for="email">E-mail</label>
        <input type="email" id="email"   name="email">

        <label for="phno">Mobile-no</label>
        <input type="number"  id="phno" name="phno">

        <input type="submit"  id="signsubmit" value="submit">
        

      </form>
    </div>
    <script src="signup.js"></script>
</body>
</html>